body { 
	background: url(../../images/index0.jpg) no-repeat center center fixed;
	-webkit-background-size: cover !important; 
	-moz-background-size: cover !important; 
	-o-background-size: cover !important; 
	background-size: cover !important; 
}
#login .form-signin .form-signin-heading, #login .form-signin .checkbox {
    font-size: 19px;
    margin-bottom: 10px;
	margin-left: 0px;
}
.title_index {
    margin-top: -43px;
}
body{
	font-family: 'TR Century Gothic', Arial, sans-serif !important;
}
@font-face
{
font-family: 'TR Century Gothic';
	src: url('TR Century Gothic.ttf');
}
.motto{}
.motto p:first-child{
	font-size: 30px !important;
}
.motto p{
	font-size: 20px

}
body{
    background-color: rgba(0, 0, 0, 0) !important;
}
.chmsc{
	font-weight: bold;
	color: #555;
    font-size: 12px;
    margin-bottom: -10px;
    margin-left: 22px;
    text-align: left;
}
.title{
	margin:25px auto;
}
.title h3 {
    color: #FFFFFF;
    padding: 20px;
	margin:auto 0;
	font-size: 30px;
	text-align: left;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}
.title h3 p {
    margin-top: -10px;
}
.index-footer{

}
#login .form-signin:first-child{
	 margin-top: 70px;
	margin-left: 0px;
	float:none;
	background: url("../../images/pixel-60fff.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 6, 0.75);
	-moz-box-shadow:    2px 2px 5px rgba(0, 0, 6, 0.75);
	box-shadow:         2px 2px 5px rgba(0, 0, 6, 0.75);
    box-shadow: 0 1px 3px rgba(15, 15, 15, 0.2);

}
#login .form-signin{
	float:none;
	background: url("../../images/pixel-60fff.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 6, 0.75);
	-moz-box-shadow:    2px 2px 5px rgba(0, 0, 6, 0.75);
	box-shadow:         2px 2px 5px rgba(0, 0, 6, 0.75);
    box-shadow: 0 1px 3px rgba(15, 15, 15, 0.2);

}
.btn-info{
	background-color: #3B5998 !important; 
    background-image: linear-gradient(to bottom, #3B5998, #3B5998) !important;
    background-repeat: repeat-x !important;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
#login .navbar{
	margin-top:10px !important;
}
#login .navbar-inner {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border:0px !important;
	box-shadow:none;
}
#login .navbar .nav > li > a {
    color: #ffffff !important;
    float: none;
    padding: 10px 15px;
	text-shadow:none;
    text-decoration: none;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
	font-family: "Century Gothic", serif;
}
#logo{
	 max-height: 196px;
}
footer{
     margin-right: 42px;
	 margin-top: 50px;
     color: #FFFFFF;
	font-weight:bold;
}
.motto{
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
	color: #FFFFFF;
	font-size:16px;
		
}